@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');

* {
  border-style: solid;
  border-width: 0px;
}

body {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-size: 1.13rem;
  line-height: 1.8rem;
  font-style: normal;
  background-color: #333333;
  letter-spacing: 1.6px;
}

@media print {
  body {
    background-color: transparent;
  }
}
